
/**{outline:1px solid red;}*/

body {
  background-image:url("http://3.bp.blogspot.com/-rmmPYramegE/UYHCDcOnVEI/AAAAAAAAAsA/fMvzIlIXv3I/s1600/boise-skyline-a.jpg");
  height:100%;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  opacity:2.0;
}

.outside{
padding-top:2%;
}
.labels{
  background-color:rgba(0,0,0,.75);
  font-family: 'Kaushan Script', cursive;
  font-size:4rem;
  color:white;
  border-radius:15px;
  
  
}

.vertical-line-align{
  display:flex;
  justify-content:center;
}

.vertical-align{
  display:flex;
  align-items:flex-end;
}

.horizontal-align{
  display:flex;
  justify-content:flex-end;
}
.vertical-line{
  display:flex;
  justify-content:center;
  background-color:rgba(0,0,0,.75);
  width:4px;
  height:150px;

}
.vertical-line-long{
  display:flex;
  justify-content:center;
  background-color:rgba(0,0,0,.75);
  width:4px;
  height:450px;

}

.horizontalline{
  background-color:rgba(0,0,0,.75);
  height:4px;
  width:100%;
 

  
} 
p{
  font-size:100px;
}
#name{
  color:white;
}

#alex:hover, #special-skills:hover, #story:hover {
  color:#15a2eb;
}

#developer:hover, #knowledge:hover{
  color:red;
}

.outside{
  margin-top:5%;
}